{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="dashboard-links">
        <a href="{{ path('app_vehicules') }}" class="card">
            <h3>Véhicules</h3>
            <p>{{ stats.vehicules }} véhicules</p>
        </a>
        
        <a href="{{ path('app_lots') }}" class="card">
            <h3>Lots</h3>
            <p>{{ stats.lots }} lots</p>
        </a>
        
        <a href="{{ path('app_avaries') }}" class="card">
            <h3>Avaries</h3>
            <p>{{ stats.avaries }} avaries</p>
        </a>
    </div>
{% endblock %} 